<nav class="nav justify-content-center bg-success mt-2 border border-light border-3 rounded">
    <h2 class="text-center text-light">Tarefas : {{hoje | date: 'dd / MM/ yyyy'}}</h2>
</nav>

<div class="align-items-right my-1 d-flex justify-content-end">
  <button class="btn btn-primary" [routerLink]="['/nova']">
      Adicionar
      <span class="bi bi-plus-circle"></span>
  </button>
</div>

<div class="mt-1 row justify-content-center">
 
  <div class="col-4 card mx-1 mb-1" style="width: 18rem;" *ngFor="let obj of $any(tarefas); let i=index">
      <div class="card-body">
       
        <h6 class="card-subtitle fw-bolder" [style.color]="corPrioridade(obj.prioridade)" [style.font-weight]="'bolder'">
          {{ obj.categoria | uppercase}}
        </h6>

        <h5 class="card-title mb-2">
          
          <span class="bi bi-circle-fill" [style.color]="corPrioridade(obj.prioridade)"></span>

          {{ obj.nome }}
        </h5>
        

        <p class="card-text text-muted fw-bolder">
          Vencimento {{obj.data | date:'dd/MM/yyyy'}}
        </p>
        

        <button type="button" class="btn btn-warning mx-1" [routerLink]="['/atualiza', obj.id]">
          Editar
          <span class="bi bi-pencil-square"></span>
        </button>

        <button type="button" class="btn btn-danger" (click)="delete(obj.id)">
          Deletar
          <span class="bi bi-trash"></span>
        </button>

      </div>
  </div>

</div>
